
<h1>My First Angular Application</h1>
<!-- <h2>Data is :: {{datafromParent}} </h2> -->

<!-- <app-student></app-student> -->
<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <hr> -->
<!-- <app-parent (ParentNumberEvent)="datafromParent=$event"></app-parent> -->

<!-- <app-inbuild></app-inbuild> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<app-notification></app-notification>
<app-home></app-home>